* text=auto

*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.cmake text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
CMakeLists.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.dll binary
*.exe binary
